<!DOCTYPE html>
<html>

<head>
    <title>Home - PoltergeistBot</title>
    <%- include("partials/header.ejs") %>
</head>

<body>
    <h1 style="color: white; font-size: 50px;">Coucou <%= bot.user.username %></h1>
</body>

</html>